[package]
name = "dns"
version = { workspace = true }
edition = { workspace = true }

[[bin]]
name = "CHM_mDNSd"
path = "src/main.rs"

[dependencies]
dotenv = "0.15.0"
serde = { workspace = true }
sqlx = { workspace = true }
uuid = { workspace = true }
thiserror =  { workspace = true }
tonic = { workspace = true }
prost = { workspace = true }
tokio = { workspace = true }
chm-grpc = { workspace = true, features = ["dns"] }
