[workspace]
members = ["apps/ca", "xtask","libs/grpc","libs/config_loader","libs/password", "libs/crl_cache"]
resolver = "2"
[workspace.package]
version = "0.1.0"
edition = "2021"

[workspace.dependencies]
