[package]
name = "controller"
version = { workspace = true }
edition = { workspace = true }

[[bin]]
name = "CHMcd"
path = "src/main.rs"

[dependencies]
chm-cert-utils = { workspace = true }
chm-cluster-utils = { workspace = true, features = ["client", "server"] }
chm-config_loader = { workspace = true, default-features = true }
chm-crl_cache = { workspace = true }
chm-dns_resolver = { workspace = true }
chm-grpc = { workspace = true, features = ["controller","ca-client"] }
chm-project_const = { workspace = true }
serde = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
humantime = { workspace = true }
humantime-serde = { workspace = true }
