[package]
name = "controller"
version = { workspace = true }
edition = { workspace = true }

[[bin]]
name = "CHMcd"
path = "src/main.rs"

[dependencies]
cert-utils = { workspace = true }
cluster-utils = { workspace = true, features = ["client", "server"] }
config_loader = { workspace = true, default-features = true }
crl_cache = { workspace = true }
grpc = { workspace = true, features = ["controller","ca-client"] }
project_const = { workspace = true }
serde = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
